[2019-12-02 06:52] GAM3RG33K opened #1 "DropDown Setting Widget is Missing"
Something like following is missing from the library,

[code]

[2019-12-02 07:01] GAM3RG33K opened #2 "Settings Widgets should be Type Generic"
For example:
`RadioPickerSettingsTile` assumes that the radio button values are only strings. hence requires only <String, String> map as values.

Or `SliderSettingsTile` requires only double value as step, max and min. however it is also possible that the range slide is used for 0-100% value without any decimal progress included.

what can be done is every settings widget takes a generic type as

[2019-12-02 07:24] GAM3RG33K opened #3 "Simple Tile settings should expose onTap callback"
Simple Tile widget should expose an onTap callback for custom implementation. We can use this callback to notify user's about current limitations or the generalize message like.
'This feature is still not complete.' OR 'This feature is still not complete yet.' or something like that

[2020-01-14 18:39] #3 closed

[2020-01-14 18:40] #2 closed

[2020-01-14 18:40] #1 closed

[2020-03-31 08:48] domizilver opened #4 "rxdart update"
any new update for the latest rxdart? thank you

[2020-03-31 08:56] GAM3RG33K commented on #4
I am aware of the issue and I already have an update planned this weekend.

rxdart library itself is no longer needed.

The new update will be a re-developed version with new settings and more
advanced version of existing settings.

I hope the next update will resolve all your issues, as well as mine... 😂

Thanks and Regards,
Harshvardhan Joshi

On Tue 31 Mar, 2020, 2:18 PM domizilver, <notificati

[2020-04-05 09:58] GAM3RG33K commented on #4
Please update to new version of the library. It is not using rxdart library anymore.

[2020-04-05 09:58] #4 closed

[2020-04-07 11:56] domizilver opened #6 "RadioModalSettingsTile"
the selected value from RadioModalSettingsTile is not saving in the subtitle. it keep resetting after changing page

[2020-04-07 13:42] domizilver commented on #6
also im a bit confuse on setting and loading the shared preferences, can you include that in example.dart? tq

[2020-04-07 13:53] GAM3RG33K commented on #6
I'll be looking into this issue, shortly.

Also, as A quick info, you can use following to load the settings from the preference library.
[code]

**Note**: If you don't pass the `cacheProvider` parameter, it'll by default use `SharedPreferenceCacheProvider` that comes with the library.

I would recommend checking the code for example app. I am sure it will resolve all your doubts.

[2020-04-07 14:03] domizilver commented on #6
im working on the exampleapp. both hive and sp dont save value when closing (for example the light theme).

[2020-04-07 18:14] GAM3RG33K commented on #6
If you are referring to the `Light Theme` switch in the example app, then it is not supposed to be saved in preference, since the switch is not part of the settings page. It is just a simple switch.

I want to improve the example app in some time. You are welcome to help me improve it.

[2020-04-08 07:09] domizilver commented on #6
oh i see. sorry im super new to this whole coding thing :'( . btw do u know how to retrieve the stored key (from settingspage) to the main page? for example showing a text ``` Wifi is On ``` on main page. i tried to implement this:
```Settings.getValue<T>(key-wifi, defaultValue); ```
in main page initstate() but no success

[2020-04-08 07:16] GAM3RG33K commented on #6
Make sure that,
[code]

is called before you try to access the preference values.

I would call this method before `runApp()` method in `main.dart` file. It allows me to access the settings anywhere in the app.

[2020-04-08 08:55] domizilver commented on #6
i have all of that, but where do i put "Settings.getValue<T>(key-wifi, defaultValue); "

[2020-04-08 09:01] GAM3RG33K commented on #6
Treat this method as a getter for your required value.
For example:
[code]

then use  `isWifiEnabled` where you want.

[2020-04-08 11:08] domizilver commented on #6
still not working :(
the _**key-wifi**_ gives an error "undefined name", if i use **_'key-wifi'_** i got red screen error

[2020-04-08 12:23] GAM3RG33K commented on #6
There are two problems here:

- key-wifi gives an error "undefined name"
  Because it is not a variable that is defined in the scope of the file, you can create one to resolve this:
[code]

- use 'key-wifi' i got red screen error
  Because everything outside a class or a method is initialized first, so, even though you use 'key_wifi' as settings key, `Settings` itself is not initialized until the

[2020-04-09 02:37] domizilver commented on #6
thank you so much for all this man. i have a lot to learn.

[2020-04-11 08:23] #6 closed

[2020-04-15 15:21] GAM3RG33K opened #7 "SimpleSettingsTile takes only SettingsScreen parameter"
`SimpleSettingsTile` takes a `screen` parameter which allows only `SettingsScreen` value. Instead it should take any widget as input for screen. Even the parameter name `screen` should be renamed to something more appropriate.

[2020-04-15 15:23] GAM3RG33K opened #8 "SimpleSettingsTile should take an optional `onTap` callback"
an additional `onTap` call back would be good for situations like when dev needs to show a dialog/toast on tap of the setting instead of a whole another setting page.

[2020-04-15 15:25] GAM3RG33K opened #9 "Each Setting widget should have `subtitle` or `description` parameter"
For example:
A switch based setting has too little space to show a full description in the title.

So, a description text can be added below the title, maybe replacing the subtitle, that has multiline text adjust within the tile.

[2020-04-16 17:49] GAM3RG33K commented on #7
This issue is now resolved.

SimpleSettingsTile will take `child` widget as input to display on tap and an additional `onTap` callback.

Note: parameter name is changed from `screen` to `child`

[2020-04-16 17:49] #7 closed

[2020-04-17 03:21] GAM3RG33K commented on #8
This feature is added in the last commit. a `VoidCallback` is added with name `onTap` for SimpleSettingsTile

[2020-04-17 03:21] #8 closed

[2020-04-17 14:29] GAM3RG33K commented on #9
Now every settings widget with enough space, has a `substitle` property as well.

[2020-04-17 14:29] #9 closed

[2020-06-07 11:35] ChangJoo-Park commented on #9
@GAM3RG33K There is no subtitle with your example.

[2020-06-18 23:52] zanesc commented on #8
@GAM3RG33K will this commit be released to pub? I don't see the onTap callback in the latest 0.2.0+1 version. It is indeed a very useful feature to have. Thank you for your work.

[2020-06-18 23:57] zanesc opened #12 "Slider valueChanged only on release"
Hi, is it possible to support only updating the value in the CustomCacheProvider when the slider is released? I have the CustomCacheProvider hooked up to network calls that update data on my server but it updates it for every increment in the slider which is not good for my use case. I know in iOS with swift you can accomplish this by setting mySlider.isContinuous = false.

[2020-06-19 00:08] zanesc opened #13 "Title sizes differ on SimpleSettings Widgets"
I have a SwitchSettingsTile and a SliderSettingsTile set and they both have different title font sizes. It would be great if the title size remained the same or if there was a custom property to set them.

`SwitchSettingsTile(
    title: 'Sound Effects',
    settingKey: 'soundEffects',
    leading: Icon(Icons.audiotrack),
    onChange: (bool value) async {
    },
),
SliderSettingsTile(
    title:

[2020-06-19 03:26] GAM3RG33K commented on #12
That's a genuine problem. However I have not modified any flutter widgets yet, so the slider being used is the flutter's version of the slider which seems to be continuous in updates.

I'll try to find out if we can do something about it or not. Will update any progress here for reference.

[2020-06-19 03:30] GAM3RG33K commented on #13
I have not seen such an issue before. I'll make sure to keep the text sizes consistent as much as possible.
It would be great if you can just share the minimum code snippet which can reproduce the issue.
It would help me find out the root cause.

[2020-06-23 14:27] GAM3RG33K commented on #13
@zanesc Can you try the example app in latest commit from [patch](https://github.com/GAM3RG33K/flutter_settings_screens/tree/patch-title-texsize-resize) branch.

You can modify the example app with your own settings page. If this doesn't resolve this issue let me know what went wrong. I'll fix this issue for sure.

[2020-06-23 14:27] GAM3RG33K commented on #13
If everything went ok then I'll merge this fix in master and then give an update in plugin

[2020-06-23 15:10] zanesc commented on #13
That patch branched fixed it. Thank you very much.

[2020-06-23 15:10] #13 closed

[2020-06-23 16:27] GAM3RG33K commented on #12
@zanesc check this [commit](https://github.com/GAM3RG33K/flutter_settings_screens/tree/patch-slider-update) out.
This should fulfill the slider requirements. I have added two additional callbacks which were available in `slider` widget

[2020-06-26 03:26] GAM3RG33K commented on #12
@zanesc If this fix works for you, I am gonna merge this in the master and then release an update of the plugin soon.

[2020-06-26 11:58] zanesc commented on #12
@GAM3RG33K yes this implementation works! My reasoning for the way that I did it in my pull request was so that you can use the callbacks for either of the three states yet decide only the ones which you want to update the cache for. However, I have changed my requirements and your implementation would suffice. Thanks again.

[2020-07-17 20:16] zanesc opened #18 "Update SettingsTile programatically"
Hey, I have built an options screen that has a "Reset to Defaults" option on it but I can't get the SettingsTiles to update after resetting the settings to the defaults by using Settings.setValue(). I have the SettingsContainer inside a ChangeNotifier/Consumer which listens to changes to my cacheProvider. Setting the values triggers an update to the Consumer however the SettingsTiles do not change

[2020-07-24 02:00] GAM3RG33K commented on #18
Sorry for the very late response.
Can you post the code for the same? It'll help me understand the issue that you are facing.

Make sure that you call `setState` when resetting settings with your logic as A settings tile value should update only on the rebuild of the widget, in most cases it is handled for only setting at a time.

[2020-07-24 02:05] GAM3RG33K commented on #12
Closing this since this issue is resolved and verified. Feel free to file a new issue if the solution for this does not work as intended.

[2020-07-24 02:05] #12 closed

[2020-07-30 06:52] aztecrabbit opened #19 "SwitchSettingsTile onChange not working if tap tile (tap switch button, working)"

[2020-08-20 23:07] Sulisong opened #20 "Text is not aligned"
Hello, I like your project very much!  I make two comments, as shown in the figure:
![image](https://user-images.githubusercontent.com/40148554/90834450-e5dae800-e37c-11ea-850d-c0647bb5aec5.png)

[2020-09-04 12:37] msthoma opened #21 "SimpleSettingsTile title/subtitle fields don't align with other settings' widgets"
Hello, I've just started using the library, and it's great!

I noticed the following issue - the title/subtitle fields of SimpleSettingsTile don't align with other settings' widgets title/subtitle fields when no `leading` icon is provided to them. In the example below I added SimpleSettingsTile along with a CheckboxSettingsTile and a SwitchSettingsTile to show what I mean:

![Screenshot_20200904-1

[2020-09-04 12:42] msthoma commented on #21
Actually the lack of a leading icon seems not to be related, below I added an icon to all 3 and the extra padding is still there for  CheckboxSettingsTile and SwitchSettingsTile, causing the misalignment with SimpleSettingsTile.

![Screenshot_20200904-153741](https://user-images.githubusercontent.com/29862068/92240119-c38cb280-eec4-11ea-807a-a792763fb266.jpg)

[2020-09-05 04:45] GAM3RG33K commented on #21
Thanks for this detailed analysis of the issue. I really appreciate you taking the time to gather this much information. I will look for this issue in code and will let you know if this change in padding is handled by the flutter framework or something which I made.

An additional note:
I am happy that you like this library. You can always contribute any improvements or addition in this library vi

[2020-09-05 12:30] GAM3RG33K commented on #21
@msthoma Hi, I found out the real reason behind this additional left side padding. It was due to the use of `SettingsConatiner` with a default value as 4.0 instead of 2.0.

 I am making a few changes to handle many of the alignment related issues. Your overlay analysis really helped me a lot. thanks.

[2020-09-05 19:32] pascalwils opened #22 "Exception when using several ColorPickerSettingsTile"
Hello,

When I add several ColorPickerSettingsTile to my settings page, I have an exception that is raised indicating that "There are multiple heroes that share the same tag within a subtree".

The error message contains "multiple heroes had the following tag: \<default FloatingActionButton tag\>".

So I looked in your sources and found the problem. At line 659 of settings_screen.dart, there is a

[2020-09-07 07:47] msthoma commented on #21
Hello @GAM3RG33K, that's fantastic, thanks for the quick reply and fix!

I found another small bug, and since it's alignment related, I won't open another issue for it (maybe you also caught it already with your fixes). When the subtitle is > 20 chars long, it changes the alignment of the tiles as shown below:

![Screenshot_20200907-102646](https://user-images.githubusercontent.com/29862068/923605

[2020-09-07 09:52] GAM3RG33K commented on #18
@zanesc can you provide any update?
Also, If this issue is no longer reproducible, please inform me so that I can close this.

[2020-09-07 09:54] GAM3RG33K commented on #19
can you provide a small sample code/snippet through which this same issue can be reproduced?
Also please add some description as well to inform about any specific situations when you found this issue.

Thanks.

[2020-09-07 13:55] jtrexr2 opened #24 "Colors/Theming"
Is there a way to change the text colors or decorations of any of your settings tiles? I've tried modifying your example by adding a `BoxDecoration` to the top `Container` but am unable to see any color changes.

[2020-09-07 19:00] jtrexr2 commented on #24
Ah, it's all just based on the app theme, disregard.

[2020-09-07 19:00] #24 closed

[2020-09-14 13:38] molesquirrel opened #25 "Request - visual options for DropDownSettingsTile"
Thanks for putting this together, it's extremely useful!
![tile_requests](https://user-images.githubusercontent.com/2819758/93092512-7d143080-f6da-11ea-9dd8-77bb001f21bd.png)

1. Having the option for leadingIcon for this (and others that don't have it) would be great for creating better unity between the settings displayed.

2. Specifically looking at the last two dropdowns, due to the varying le

[2020-09-14 16:41] GAM3RG33K commented on #25
I'll see what can be done for providing alignments for many elements such as this.
Mostly I refer to other existing examples of settings screens design/templates that follow material design standards.

After some time, I am planning to work on the overall visual design and customization for such design for all developers.

Thanks for creating this issue, It'll help me figure out what to consider t

[2020-09-15 03:17] molesquirrel commented on #25
Happy to help, and if I get comfortable enough with Flutter that I can contribute, I'll definitely give it a shot.

[2020-10-01 03:51] GAM3RG33K commented on #19
closing this due to no response and description of the issue.

[2020-10-01 03:51] #19 closed

[2020-10-30 09:21] FLAGLORD commented on #2
It would be nicer that values could take ENUM

[2020-11-19 02:51] raygray opened #26 "Potentially dangerous code - dangling futures!"
Your code treats SharedPreferences' setters (setInt, setDouble...) as synchronous functions  (see SharePreferenceCache::setObject) while they are in fact asynchronous! This may lead to an inconsistent state.

[2020-11-27 07:08] #22 closed

[2020-12-03 12:54] ansshkki opened #27 "Feature - Time & Date picker settings tile"
Can you add a date picker?
It will be a good idea 😉

[2020-12-13 05:48] GAM3RG33K commented on #18
closing due to no response.

[2020-12-13 05:48] #18 closed

[2020-12-13 05:57] GAM3RG33K commented on #27
A good idea indeed. Will look into this once I have closed a few bugs.

[2020-12-13 06:21] #21 closed

[2020-12-13 06:50] GAM3RG33K commented on #26
Please wait for an update which is coming soon and then check again. This issue has been resolved already but I am completing a set of tasks after which I will publish an update with the new changes.

[2020-12-29 10:42] azazadev opened #30 "DropDownSettingsTile leading Icon"
Hi,
It is possible to have leading Icon for DropDownSettingsTile ?

[2021-01-03 13:41] azazadev opened #31 "SwitchSettingsTile background color"
I'm using this lightTheme and darkTheme, and I would like to have the same background color for the SwitchSettingsTile
( white SwitchSettingsTile background for lightTheme theme and RGB(27, 39, 55, 1.0) SwitchSettingsTile background  for darkTheme )

![image](https://user-images.githubusercontent.com/68111176/103479960-7f0d1700-4dd1-11eb-8925-4159324e417a.png)

[code]

[2021-01-05 10:50] msthoma commented on #21
Hi @GAM3RG33K! Just wanted to let you know that I got the chance to test your bugfixes today, and the issue is fully resolved. Thanks and hope you have a happy new year!

[2021-01-05 10:59] GAM3RG33K commented on #21
That is awesome. Thanks for taking time. Happy new year to you too.

[2021-01-08 10:19] azazadev opened #32 "Switch adaptive for IOS"
Hi,
why inside SettingsScreen the Switch is not using adaptive ?

current code
[code]

expected code :

[code]

[2021-01-12 03:48] GAM3RG33K commented on #32
Hi, I am aware of this, but It will kind of incomplete to only make some widgets adaptible not all.

I did not consider the UX differences while making this library. My focus was on making a base for all deceloper to easily build a settings screen for their app & get on with other tasks.

There are many differences in visual part of widgets on Android and iOS and I am planning to make an overhaul

[2021-01-12 22:55] hellochenwang commented on #19
I experience the same issue using the example code with flutter web.

[2021-03-01 16:12] ansshkki commented on #18
@GAM3RG33K  I have the same issue, this is the code I have:

[code]

I want the switch tile to be false when both `notifications_start` and `notifications_end` are false, but the UI doesn't change when `setState()` is called.

[2021-03-08 18:41] schisms opened #34 "Support for later versions of path_provider"
Really enjoying the plugin, and are using it for my settings screen. However, I am encountering a fairly significant problem. Many of my packages are requiring later versions of path_provider. The maximum supported by flutter_settings_screens appears to be 1.4.4, but the latest version of path_provider is 2.0.1. I am having trouble updating plugins because of this.

Thanks ~~

[2021-03-09 02:41] GAM3RG33K commented on #34
Hi, @schisms, thank you for using this library. I am glad you liked it. If you can work with v1.4.4 of path_provider for some time, then I request you to keep using the same. I am planning a few major updates but due to time constraints it is not possible to work on them.
I am planning to update the dependencies & refactroing the internal logic to comply with new flutter norms & dart SDK changes.

[2021-03-09 03:44] riklarkin commented on #34
Hi @schisms , I created a fork yesterday solely for the purpose of updating the 3 dependencies in the pubspec.yaml file. I needed to do this to avoid version conflicts, you can thus use that version if it helps. Make your pubspec.yaml file like this:

flutter_settings_screens: # Will revert to pub.dev version once they release a null safety update
    git:
      url: https://github.com/riklarkin/f

[2021-03-22 12:15] msthoma commented on #18
@ansshkki if you still have the issue, try wrapping the `SettingsGroup` or `SettingsScreen` with a Scaffold or Container with a unique key, like this:

[code]
It solved the issue for me, now when `setState()` is called the tiles are updated.

[2021-03-22 12:28] ansshkki commented on #18
@msthoma Thank you, that's working!

[2021-03-23 16:26] IanWorthington opened #37 "Can I use a ValueListenableBuilder with a settings key?"
My apologies if this is a stupid question, but I'm a bit new around here and am struggling to see how this works.

If I currently have a ValueListenableBuilder widget listening on a global ValueNotifier, eg:

[code]

how do I correctly change this so it gets notified when the value associated with the settings key changes?

The SwitchSettingsTile I'm using is
[code]

and to capture it I'm trying v

[2021-03-23 17:46] GAM3RG33K commented on #37
@IanWorthington That is not the case right now. But it is a good suggestion. I'll look into it, maybe I can provide a way to notify of changes based on the key you want to listen to.

[2021-03-23 18:39] IanWorthington commented on #37
Ok, thanks.

What's the best way of monitoring a setting for changes then for now?  I can creating a shadow variable in the settings onChange() but what's the best way reload the saved setting on application restart?  Each one manually?

Can you give an example of what ValueChangeObserver<>() can be used for?  I'm sure it has some use!  Maybe it can help, somehow?

[2021-03-23 20:07] IanWorthington commented on #37
Good news!  This DOES work right now.  I just had to debug how the variables were used -- differently than I had assumed --  and everything dropped into place.

[2021-03-23 20:08] #37 closed

[2021-03-24 14:38] jinfagang opened #39 "iOS style settings?"
iOS style settings?

[2021-03-24 17:28] GAM3RG33K commented on #34
@schisms I have merged the pull request #36 created for updating all the packages & flutter changes to latest versions.
You can check these changes & use the latest master branch checkout if you need.

I'll keep this issue open for some time & close once everthing is verified properly.

[2021-03-26 00:41] IanDarwin commented on #26
(Just a note that this has been resolved for the setters, and is likely to be resolved for the getters as well in the near future, the latter being required for arbitrary other-Cache implementors).

[2021-03-26 22:06] schisms opened #40 "Dynamically Updating Content of Settings"
Situation #1:
User can tap SimpleRadioSettingsTitle value and input a new value in a pop-up text prompt. Then, the List<String> is updated accordingly. Settings.setValue<String>('selectedValue, 'new user value'.) (Meaning default selected is also updated in settings cache.) Finally, call setState. While the new value is reflected in the list, the selected radio tile is no longer selected. However,

[2021-04-03 14:04] IanWorthington commented on #34
The pubspec.yaml specifies 1.6.8, rather than the latest.  Is that deliberate?

[2021-04-03 14:07] GAM3RG33K commented on #34
Yes, This is according to the latest version supported by the last flutter
version in 1.x category.

Support for flutter 2.x will be added in stage 2.

I did this to allow most people to easily migrate to next plugin if there's
any changes required.

I'll be giving the 2.x version update soon.

On Sat, Apr 3, 2021, 7:34 PM IanWorthington ***@***.***>
wrote:

[2021-04-05 22:14] schisms commented on #40
Solved with solution presented at end of this thread: https://github.com/GAM3RG33K/flutter_settings_screens/issues/18

[2021-04-05 22:14] #40 closed

[2021-04-06 14:58] Androz2091 commented on #34
Yes, and the package is only using shared_preferences 0.5
is it possible to bump it?

[2021-04-08 17:00] GAM3RG33K commented on #34
@Androz2091  Every package is now bumped up in the latest pull request #42

The same has been released as v0.2.2+1 on pub.dev

[2021-04-08 17:00] #34 closed

[2021-04-08 17:03] Androz2091 opened #43 "Use only the UI"
Hello,
I'm currently using [settings-ui](https://github.com/yako-dev/flutter-settings-ui) but the project is not really maintained. I only use it to simply the UI code of my project, do you think that I can use your project without using any CacheProvider and only simple onPress functions?

[2021-04-08 17:11] GAM3RG33K commented on #43
If I understand correctly, then you don't need to implement `CacheProvider`.
You can skip providing your version of cache provider to use the default one that uses shared preferences under the hood.

If you mean to only use the UI & not the underlying backend for settings, then I am afraid its not possible.

[2021-04-08 17:24] Androz2091 commented on #43
Yes that's what I meant. All right thank you so I will wait for settings-ui to be released 👍

[2021-04-08 17:24] #43 closed

[2021-04-11 11:15] vladaman opened #44 "Dependency null safety issue with v0.2.2+1"
I am still getting following error ever after #34 #42 fixes have been merged in v0.2.2+1.
[code]

Using:
[code]

in pubspec.yaml:
[code]

see https://github.com/Pyozer/flutter_material_color_picker/issues/26

[2021-04-19 21:31] bit-burger commented on #39
The idea is definitely good, maybe I'll try to contribute, but at the moment i'm very busy.

[2021-04-25 08:14] JohannesMilke opened #45 "Null Safety Support"
Is Null Safety Support for this package planned?

[2021-04-25 09:02] GAM3RG33K commented on #45
@JohannesMilke Hi, I have null safety port in my goals for next few updates.

[2021-04-27 10:38] yom-ko commented on #45
Seconded. This is a great package but it's the only one that blocks migration to sound null safety for my app.

[2021-05-12 12:36] msthoma opened #47 "Does SliderSettingsTile support int values?"
I'm using SliderSettingsTile for a slider for a range of integers. The documentation mentions _"This widget supports double and integer types of values which should be put in the preference"_, but I haven't found how to actually force the type to be integer. I looked through the source and previous issues for hints, but didn't find an answer (issue #2 is the only mention I found that is related).

[2021-05-16 13:31] chapmacl commented on #7
The name change from `screen ` to `child` has not been updated on the Pub dev page, the API, the repo README, or the documentation within the code. I feel this issue includes updating these for consistency

[2021-05-20 09:21] Slenderic opened #48 "Why do Silders only increment by whole number when specified to do 0.1 steps?"
Hello,
I've the problem that I want to have a slide bar that goes from 0 to 3.5 with steps of 0.1. However it won't do it.
1st if i set the max to 3.5 it goes shows 3.5 however it's not possible to slide it to the 3.5 and goes out of bound to 4.0
2nd the slider steps are shown as dots but when slid on the slider jumps to the closest whole number e.g. putting the slider on 2.6 it jumps to 3 even th

[2021-05-29 03:46] GAM3RG33K commented on #48
Sorry for the delayed response.

Can you provide the code snippet of the Slider settings you have implemented?

Regarding the dots on the slider, I have tried to look for settings or properties to disable them but no success yet.

[2021-05-29 03:56] GAM3RG33K commented on #47
It seems that the updates in Slider settings are incosistant with the documentation at this point.

This raises an important question, how important it is to support integer values while the base widget used for this setting only supports `double` only. Reference: [https://api.flutter.dev/flutter/material/Slider/max.html](https://api.flutter.dev/flutter/material/Slider/max.html)

What should be th

[2021-05-29 10:19] #48 closed

[2021-05-29 10:21] GAM3RG33K commented on #47
In the latest commit, this issue is resolved.
The slider widget will only use & provide `double` values. However, developer will have a choice to print the value as integer using `decimalPrecision` property of the widget.

[2021-05-29 10:21] #47 closed

[2021-05-29 11:20] Slenderic commented on #48
[code]

[2021-05-29 11:27] GAM3RG33K commented on #48
No worries, check with the new prerelease version. Please provide any feedback for this if you feel like it.

[2021-05-29 13:00] GAM3RG33K commented on #45
Null safety migration #49 merged successfully & published as `v0.3.0-null-safety`.

Though it is a prerelease version right now, to find & fix some quick bugs if any.
Soon it will be a stable one.

[2021-05-29 13:00] #45 closed

[2021-05-29 13:02] GAM3RG33K commented on #44
Null safety migration #49 merged successfully & published as `v0.3.0-null-safety`.

Though it is a prerelease version right now, to find & fix some quick bugs if any.
Soon it will be a stable one.

Note: Since the actual plugin for material color picker has not migrated to null safety, I have included a local copy of the latest plugin version with null-safety changes. Once the actual plugin is mig

[2021-05-29 13:02] #44 closed

[2021-05-29 13:04] GAM3RG33K commented on #32
This change has been merged & published as `v0.3.0-null-safety`.

Though it is a prerelease version right now, to find & fix some quick bugs if any.
Soon it will be a stable one.

[2021-05-29 13:04] #32 closed

[2021-05-29 13:06] GAM3RG33K commented on #31
I am planning to add a theme based customization to in the library. It will be either a color property in each widget or a complete custom theme implementation.

In any case, I'll make sure to make changes that adapts the color of settings widgets based on the Theme data of the Material App Widget.

[2021-05-31 08:57] msthoma commented on #47
Great solution - there is no need to add support for `int`s, especially since the base widget does not support them. Thanks!

[2021-06-22 07:54] GitKyRep opened #50 "how to set CheckboxSettingsTile is checked ?"

[2021-06-23 15:25] GAM3RG33K commented on #50
Hi,
you can set `defaultValue` property as `true` to set the initial state of CheckboxSettingsTile as Checked.

You can check the documentation here:
https://pub.dev/documentation/flutter_settings_screens/latest/flutter_settings_screens/CheckboxSettingsTile/defaultValue.html

Closing this as it is not a plugin's implementation issue but if you need more help with it, add a comment here.

[2021-06-23 15:25] #50 closed

[2021-07-09 20:14] mpgamelas commented on #39
Second this, it would be great to see this plugin supporting iOS.

[2021-07-14 21:24] pascalwils opened #51 "SwitchSettingsTile does not have the same behavior when taping on the switch or on the tile"
Hi,

I found that taping on the SwitchSettingsTile does not called the onChange callback while taping on the switch call it. Whereas, the switch state is always changed.

When using the CheckboxSettingsTile, the behavior seems more coherent, the callback onChange is always called not depending on where you tap.

I think the correction is simple. Like in CheckboxSettingsTile, you should replace the

[2021-07-15 16:32] GAM3RG33K commented on #51
Sure, it makes sense.
Please submit a PR if you can.

[2021-07-17 07:27] GAM3RG33K commented on #51
Fixed by recent PR#52. Closing this now.

[2021-07-17 07:27] #51 closed

[2021-07-28 09:36] LiveRock opened #53 "Unhandled Exception: HiveError: This is an internal error"
When I do
[code]
I get the error and could not proceed:

I am cracking my head over this for many days without a solution...
help!

[2021-07-30 14:54] amigax opened #54 "Question: how do you setCheck on a CheckboxSettingsTile?"
I want to check a CheckboxSettingsTile in code, but how ?

[2021-07-30 15:06] GAM3RG33K commented on #53
Hive Exception is totally a different issue all together, however I have been through this issue & there's no proper explanation from the dev of `Hive` as well about it.

I can suggest some tips to prevent it, it may resolve your issue but I am not sure about it either.

Here it goes:
1. Make sure that you don't have corrupted data in any of your hive boxes
2. Ensure that everything you put in the

[2021-07-30 15:08] GAM3RG33K commented on #53
I am looking into this for now in the plugin's code, just to be sure.

[2021-08-01 15:51] GAM3RG33K commented on #53
I have updated the example code from my side to check if the box is open or close. Please check the example code in latest commit or checkout the latest update [`v0.3.1-null-safety`](https://pub.dev/packages/flutter_settings_screens/versions/0.3.1-null-safety)

Closing this for now, If you think the issue is caused by something from the library's code then feel free to re-open it.

[2021-08-01 15:51] #53 closed

[2021-08-01 15:57] GAM3RG33K commented on #54
I am not sure what the actual issue you are facing but after the latest plugin update [null safe version](https://pub.dev/packages/flutter_settings_screens/versions/0.3.1-null-safety), there are following ways to set a checkbox status:

1. If you are looking for setting it checked by default then try passing default argument as `true`
2. If you are trying to update checkbox state manually then try

[2021-08-14 15:28] JupiterThreads opened #55 "Null check operator used on a null value"
If you omit the subtitle for SimpleSettingsTitle it will set a null value for subtitle, which will override the default value of empty string in the _SettingsTile class causing the null check operator error, which can be found on line 156 in base_widgets.dart.

At the moment a work around is to provide an empty string to subtitle for SimpleSettingsTile.

[2021-08-21 04:29] GAM3RG33K commented on #54
Closing this issue for now. If you still face any issues please re-open this issue with some new information about it, so that I can resolve it.

[2021-08-21 04:29] #54 closed

[2021-09-01 14:46] amigax opened #56 "Any way to set colour? and remove title?"
I want to change background colour and remove title if possible?

[2021-09-01 20:22] bhavyav8421 opened #57 "Setting Screen is not visible in IOS release build"
Setting Screen  is not visible in IOS release build, though it works well with debug build. I am using SharePreferenceCache. It would be grateful if anyone could help

![IMG_53BDA0CD4410-1](https://user-images.githubusercontent.com/14247923/131739423-ba463b90-2570-4990-be94-75a0f7114914.jpeg)

[2021-09-02 02:08] GAM3RG33K commented on #57
@bhavyav8421

Please try the following & provide complete logs from the start till you navigate to the settings screens in iOS

```flutter run --release -v```

This logs might be of help in determining what is the actual issue.

Additionally, please provide the ```flutter doctor -v``` information here.

I am not sure why this happens and I don't have an access to a mac or iphone, to reproduce this

[2021-09-02 02:12] GAM3RG33K commented on #56
@amigax  Hi, As  of now the default settings theme is the only customisation available.

However, Everything is made with material widgets, So if you want to change colors, you can wrap the whole settings screen with a `Theme` widget & provide your `themeData` to change colors & styles as you wish.

I am planning to include the theme options in the settings widget in future updates, but currently

[2021-09-16 23:48] jeffreyliu8 opened #58 "please update to provider 6.0.0"
please update to provider 6.0.0

[2021-09-18 03:42] rajesh2701 opened #59 "TextInputSettingsTile error , Working in iOS but error in Android debug"
"setState() or markNeedsBuild() called during build.
This AnimatedBuilder widget cannot be marked as needing to build because the framework is already in the process of building widgets.  A widget can be marked as needing to be built during the build phase only if one of its ancestors is currently building. This exception is allowed because the framework builds parent widgets before children, whic

[2021-09-18 20:19] Pawelek55 commented on #58
Update provider will be extremely helpful

[2021-09-19 17:28] GAM3RG33K commented on #58
@jeffreyliu8  @Pawelek55  Thanks for pointing out this issue. But I am in no position to provide a release right away. I have seen that @Pawelek55 has made a fork with the same changes required, so I suggest you use that fork for the time being.

@Pawelek55 Please create a pull request for the same & I will merge the changes As soon as I am able to spare time for a release.

I really appreciate th

[2021-09-19 18:07] Pawelek55 commented on #58
@GAM3RG33K Thanks for response. I made pull request, so if You will have time, please accept the change.

[2021-09-21 15:43] GAM3RG33K commented on #58
Merged the pull request successfully. WIll try to provide the release ASAP. However it will still be a preview release, because there's zero code coverage as of now. Which I want to resolve first for the next major release.

Thank you for your contribution & I really appreciate it.

[2021-09-21 15:43] #58 closed

[2021-09-28 09:53] zuzi-m commented on #25
I can open a PR where the option to align the dropdown will be added

[2021-09-28 11:04] zuzi-m commented on #25
Just opened a PR #62 that would fix the alignment - by default all dropdowns will align to the right. This can also be customized by specifying a value to the `alignment` parameter

[2021-09-28 11:07] zuzi-m commented on #30
Yes it is - I just opened a PR #62 with that enhancement - it adds the option to add a `leading` widget to `DropDownSettingsTile` and some others that didn't support it before

[2021-10-05 18:45] hapasa opened #64 "SimpleSettingsTile has no screen parameter, unlike in example"
The example in doc has screen:

[code]

But the it does not appear to be implemented:

[code]

This was with 0.3.2 null safety preview

[2021-10-05 18:54] hapasa opened #65 "ExpandableSettingsTile does not respect expanded argument"
[code]

Even if I set expanded = true, it remains closed at startup.

[2021-10-07 07:58] churchnotesapp opened #66 "Title Text Color Change"
Is there a way to change the text color in Title & Subtitle?

[2021-10-09 03:37] #64 closed

[2021-10-09 03:39] #66 closed

[2021-10-09 03:52] GAM3RG33K commented on #65
can you provide a working example code where this issue is occuring? I checked the code & example code from latest release commit & it is working.

[2021-10-09 03:53] GAM3RG33K commented on #59
can you provide sample code that reproduces the issue?

[2021-10-09 03:57] GAM3RG33K commented on #55
I believe this is fixed in the lastest release v0.3.2-null-safety, so closing this issue,
Please verify the same from your end & re-open with a sample code & logs if the issue is not fixed.

[2021-10-09 03:57] #55 closed

[2021-10-11 11:32] Sasaaa-88 opened #68 "Title is not aligned for Arabic"
I am using the package for an app that basically using Arabic language. All stuff if very good except the preference title which is aligned to the left but all the preference are aligned to the right as it should. I tried to use 'Align' widget but in vain.
Here is my code:

          title:
              RestaurantCashierLocalizations.of(context).text("settings_title"),
          children: [

[2021-11-18 17:10] eveetc opened #69 "TextInputSettingsTile Exception on opening editableText"
When opening the editable TextInputWidget configured as in the example,
It throws the following exception (without any setState() statement)

[code]

[2021-12-26 21:54] abhlabs commented on #56
Any chance you'd consider changing title & subtitle to accept widgets instead of strings?

[2022-01-12 12:07] #59 closed

[2022-01-14 15:49] blluv opened #71 "SimpleSettingsTitle subtitle null check"
Issue #55  has not been resolved yet.

I think it should be fixed like this.
https://github.com/GAM3RG33K/flutter_settings_screens/blob/fd8f6389e6013431933df19b18a165afee73cc9a/lib/src/widgets/base_widgets.dart#L164-L170

to

[code]

[2022-01-18 05:41] GAM3RG33K commented on #71
@blluv  Hi, thanks for finding this out. If you don't mind can you just send me a PR with the fix?

[2022-01-19 04:34] tohosys opened #73 "Can I save simple list object on hive?"
**Simple object**
`class User {`
  `    String name;`
  `    int age;`
  `    User({ this.name, this.age});`
`}`

**Test code**
`var u = User(name: 'k1', age: 30);`
`Settings.setValue<Object>('key-u', u, notify: true);`
`var x = Settings.getValue<Object>('key-u', null);`

**Error**
`
Unhandled Exception: HiveError: Cannot write, unknown type: User. Did you forget to register an adapter?
`
I don't

[2022-01-19 04:41] GAM3RG33K commented on #73
Anything you want to store in the Hive DB must be serializable manually or should have implemented a `HiveAdapter` .

This link might help you get to know more about saving custom objects in Hive:
https://docs.hivedb.dev/#/custom-objects/type_adapters

Closing this issue, as it is not part of this library.

[2022-01-19 04:41] #73 closed

[2022-01-24 12:18] #71 closed

[2022-02-10 01:30] abhlabs opened #77 "Is there a way to set the width of the modal windows?"
I'm running into issues trying to squeeze too much text into the space allocated by the ModalSettingsTile on small devices.  There seems to be plenty of screen space to made the window wider -- the device is 320 px wide, but the modal window is only 240 wide.  If I could get another 30 px I'd be set.  Is there a way to do that?

[2022-02-10 08:45] amigax opened #78 "initialisation is not instant"
initialisation is not instant, this leads to null pointer errors and horrible work arounds.

[2022-02-10 12:08] GAM3RG33K commented on #78
@amigax Hi, can you please provide more details in what you are expecting?

In fact, if you can provide with a solution or a suggestion to improve that, it would be appreciated.

[2022-02-10 12:13] amigax commented on #78
it just seems everytime I use it its complaining about null etc, it seems to need time to set up, it should be ready immediately. if I use it in build() its not set up yet which is difficult to use.

[2022-02-10 12:31] GAM3RG33K commented on #78
Ok, can you provide a sample code to reproduce the problem?

[2022-02-10 13:55] maltemedocs commented on #31
Wouldn't it already help here to drop the Material Widget from the SettingsContainer Widget? That way the color behind the widget should be applied. At that seems to work for me when having a SettingsContainer on an elevated card in dark mode, where the Material widget has the wrong color as its missing the ElevationOverlay.

[2022-02-16 14:44] Aleynaesr opened #79 "flutter_settings_screens not null safety"
Null safety is not supported. It gives the following error in current flutter version

[code]

[2022-02-16 14:50] GAM3RG33K commented on #79
@Aleynaesr Make sure that you use the pre-release version of the plugin. It has been migrated to null safety already.

Link: https://pub.dev/packages/flutter_settings_screens/versions/0.3.2-null-safety

I am planning to release a stable version of the plugin as well, but I am not getting enough time for that.

Please close this issue, if your warning is gone by using the pre-release version. If no

[2022-02-16 15:00] Aleynaesr commented on #79
Thank you @GAM3RG33K 🎈
 0.3.2 version gives the following error:

[code]
 But, 0.3.1. version worked for me 😊

[2022-02-27 14:44] olhybrius opened #80 "Make CacheProvider get methods return Futures"
Hi !

First of all, thank you for your work on this project !

Would it be possible to update the CacheProvider's get methods signature to return Futures instead of regular types ? I am currently trying to build an implementation using [flutter_secure_storage](https://github.com/mogol/flutter_secure_storage/) which only has asynchronous methods.

Thank you !

[2022-03-08 19:39] raspberrypi9 opened #81 "Can't See Effect of Flipping SwitchSettingsTile Without Exiting and Reentering Settings"
I have a top level SettingsScreen, and it contains two SimpleSettingsTiles.  One of the SimpleSettingsTiles contains a SwitchSettingsTile whose position is supposed to affect how information is displayed when the other SimpleSettingsTile is being viewed, and this does not work.  The only way that I am able to see the effect of the switch being switched to the other position is by completely exitin

[2022-04-30 07:48] RoarGronmo opened #82 "0.3.2-null-safety complaints about unnecessary WidgetsBinding.instance? null check."
Getting theese warnings:
[code]

Any hope for null safe release which addresses this particular problem ?

[2022-05-10 15:04] Anguel commented on #69
Same problem here. I am trying to use it in combination with flutter_bloc but no success so far. Maybe the problem is that this package uses its own state management that interferes. One thing that confuses me is that it combines a clickable tile with a dialog that pops up and you insert them at once into the UI.

[2022-05-11 11:09] abhlabs commented on #69
Could this be related to upgrading to Flutter 2.10.x?  I'm getting it now too, but I'm pretty sure I wasn't when I first added this package to my project earlier this year, and I was on 2.5 (or maybe 2.8?) at that time.

[2022-05-11 12:34] Anguel commented on #69
Not sure, it does not seem to appear in the example code of the package.
What exactly is your error @abhlabs ? Mine is:
[code]

[2022-05-11 15:26] Anguel commented on #69
In the meantime I received some helpful feedback from a flutter guru on Udemy. In summary he told me that "It seems that this package uses ValueChangeNotifier and setState as a tool for state management. So I think it can be hard to find the exact cause of error."
IMHO this can therefore interfere with other state management packages like flutter_bloc. Probably, the only way to solve the problem w

[2022-05-11 23:48] abhlabs commented on #69
The error I get is 100% identical to yours, word for word.  It comes up when I tap the OK button after entering some text in a TextInputSettingsTile.  The error does not stop the new input from being saved -- in fact a release build running on an actual device will work fine, although I don't know what side affects the error might be causing.

[2022-05-12 08:25] Anguel commented on #69
Exactly, pressing OK with a changed text value triggers the exception. I even moved the settings to a separate screen because I had them inside a dialog previously but the same error occurs. What state management are you using?
In the meantime I really wonder why the demo example works without problems.

[2022-05-12 10:52] Anguel commented on #69
I just forked the Github repo to my Github account to have a deeper look but it magically worked without problems. And I still have no changes committed!
You can try to include directly from Github. So instead of using "^0.3.2-null-safety" you include latest directly from Github like this in your pubspec.yaml:

[code]
I don't know what is going on there, maybe the ^0.3.2-null-safety listed as prer

[2022-05-12 11:16] abhlabs commented on #69
I can confirm that your suggestion worked.   And your theory that it relates to null safety is consistent with my experience -- I didn't make the connection at first, but I know I _didn't_ have this problem when I first added the package to my project, and probably just didn't notice it after I went through null-safety migration earlier this year.

[2022-05-12 23:55] abhlabs commented on #69
There two significantly different files in your git fork than what you get from pub.dev:  base_widgets.dart and settings_widgets.dart.  The differences are mostly related to moving the titleTextStyle and subtitleTextStlye from one class to the other.   I think that substantiates your assumption that the pub.dev version is the problem, considering that your fork works while the pub.dev version does

[2022-05-13 07:43] Anguel commented on #69
Well, it is actually the current Github version of the author's package which works ok, but it differs from the one on pub.dev. I think the author should just update it on pub.dev. Unfortunately, this project looks like mostly abandoned to me. If I have time I will probably try to do some minor improvements in the future (e.g. I need a childrenIfDisabled property for a switch button) to add and th

[2022-05-22 07:30] laogao commented on #82
Maybe we could define and use some function such as `T? _ambiguate<T>(T? value) => value;` to wrap access to `WidgetsBinding.instance`, which treats values of both `T` and `T?` equally as `T?`. When everyone is on Flutter 3.0.0+, we can then drop it?

[2022-05-22 10:09] alevinetx opened #84 "What's the purpose of defaultValue on setX()?"
version: 0.3.2-null-safety

In `CacheProvider`, all `setX` methods have an optional parameter for `defaultValue`.

[code]

Is this intentional, instead of placing them on `getX`?  If so, what's the intended purpose?   I don't see it being used in the provided example.

Thank you !

[2022-05-25 15:31] globalwebforce opened #85 "Ugly UI on Web"
I just want you to know that the UI is ugly, I hope you fix this
![image](https://user-images.githubusercontent.com/100259991/170300344-c210f065-ba92-417f-802f-0ff56b3a0710.png)

[2022-05-29 07:16] harsh-signzy commented on #85
Thanks for this constructive input😅. This library was designed for & with focus on the android style of the settings screens only, not even iOS style was considered. Right now the iOS version is requested as you can see in this issue: [https://github.com/GAM3RG33K/flutter_settings_screens/issues/39](https://github.com/GAM3RG33K/flutter_settings_screens/issues/39).

I am unable to maintain the upda

[2022-06-01 17:26] GAM3RG33K opened #86 "[Forum] Contributors & Maintainers Forum"
Hi all.

I hope you're doing well.
Going straight to the point, This project was started as a hobby.
I never had enough time to work on this project & update it regularly as other packages on pub.dev.

If you thank you can help keep this project live by any means, just reach out in the comments over here. I'll be happy to get some support anytime.

Thank you all, looking forward to your response.

[2022-06-05 14:11] korsvanloon opened #88 "setObject always throws an error in 0.3.3"
Pretty obvious. It's missing the return statements.

[code]

[2022-06-05 14:36] #88 closed

[2022-06-23 05:27] agersant opened #90 "Nested `ValueChangeObserver` broken in 0.3.3"
Hello!

I was updating my dependencies and I noticed `flutter_settings_screen` largely stopped working for me in version `0.3.3`. Specifically, my app makes use of `ValueChangeObserver` to detect the user updating their theme preferences - and these observers stopped refreshing. I believe tracked the issue down to this commit: https://github.com/GAM3RG33K/flutter_settings_screens/commit/e08dda11b8

[2022-06-23 20:49] BriccioCulicio commented on #90
Hello, I'm starting with flutter and I was wondering how to check for a ValueChangeObserver of a key and depending on what the value is change the app theme.

Here's an example of how I used it with my Dark Mode feature in my main file, I'm trying to do this but with a custom list of values that change the theme of the app.

[code]
And here's the DropDown Menu which has a key that I want to use to

[2022-07-01 09:24] tarun-netweb commented on #82
Same problem here:-

: Warning: Operand of null-aware operation '?.' has type 'WidgetsBinding' which excludes null.
../…/widgets/settings_widgets.dart:581
- 'WidgetsBinding' is from 'package:flutter/src/widgets/binding.dart' ('../../snap/flutter/common/flutter/packages/flutter/lib/src/widgets/binding.dart').
package:flutter/…/widgets/binding.dart:1
        WidgetsBinding.instance?.addPostFrameCall

[2022-07-12 19:00] Dragon-Seeker commented on #90
Can also confirm that 0.3.3 is broken due to the specified commit

[2022-07-12 19:04] Dragon-Seeker commented on #90
Can confirm when using nested settings within something like `childrenIfEnabled:[]` will cause issues as when they are disposed after being disabled, they will clear the entire map causing all value observers to break.

[2022-07-12 19:06] Dragon-Seeker commented on #90
This is not the place for such discussion as your problem dose not concern the problem at hand but of a lack of understanding. Please make a new issue or look further into the Docs on pub.dev

[2022-07-27 15:18] GAM3RG33K commented on #82
@nyxkn Can you take a look at these issues generated by the latest flutter stable/beta sdk update?
I am planning to resolve this maybe during this weekend or by the end of next week.

If you can just the issues & provide a list of it here, we can connect over the weekend & get it done. I am sure it won't be a long list of changes for this.

[2022-07-31 12:22] omerhertz opened #98 "SwitchSettingsTile is stuck after enabling and disabling"
I am trying to use a SwitchSettingsTile with childrenIfEnabled. However, when I enable it, then disable it, I can't enable it again.
You can see a screenshot video here- [https://www.loom.com/share/bc7e1328ae8a473b8c5b882166d7b4e1](url)
BTW, in the console, for the above video, I get the "device-connected: true" print but it's still seems like disabled.

[code]
I'm using the latest version (0.3.3-

[2022-07-31 12:30] nyxkn commented on #98
Should have been fixed with #93

[2022-07-31 12:33] nyxkn commented on #98
Also this is probably the same issue as #90

[2022-07-31 12:36] nyxkn commented on #81
This is probably the same issue as #98 and #90

Should be fixed with #93

[2022-07-31 12:36] omerhertz opened #100 "Clicking CANCEL on TextInputSettingsTile causes an Exception to be thrown"
When clicking on the TextInputSettingsTile and then clicking on CANCEL, an Exception is being thrown.
You can see a usage example here- [https://www.loom.com/share/74c0debe974f4abe9265470a87994cce](url)

I think the problem is in
The Exception is:
[code]

This is my settings implementation:
[code]
I'm using version 0.3.3-null-safety+1

[2022-07-31 12:48] nyxkn commented on #100
Cannot reproduce on master with your code. Maybe try to see if it still happens on master?

[2022-07-31 13:26] omerhertz commented on #100
You are right! It works when running with the master branch.
Thanks!
@nyxkn - do you know when does a new version suppose to be released?

[2022-07-31 13:26] #100 closed

[2022-07-31 13:55] omerhertz commented on #98
@nyxkn I reran my app with the master branch and it is working correctly. So I guess this issue can be closed

[2022-07-31 14:01] #82 closed

[2022-07-31 14:03] GAM3RG33K commented on #98
@nyxkn I have merged the PRs, can you please close this ticket if it iss resolved with merged PRs?

[2022-07-31 16:22] nyxkn commented on #100
@omerhertz Thanks for testing!
I don't know about releases. But it might be a good time for a release with the recent bugfixes. What do you think @GAM3RG33K ?

[2022-07-31 16:25] GAM3RG33K commented on #100
Yeah, if all seems good in testing. We can have a quick release.

Let me see what I can do

[2022-07-31 16:26] nyxkn commented on #98
I think all three related issues can probably be closed: this one, #90, and #81.
Pretty sure it was all the same issue that was sorted with #93.

[2022-08-02 14:34] #98 closed

[2022-08-02 17:54] tuxsoft opened #101 "Feature request: Onscreen Keyboard"
The possibility to invoke an onscreen keyboard so that Android TV can be supported ?

[2022-09-05 05:01] mbfakourii opened #102 "RTL bug in SettingsGroup"
Hello, there is a problem in the rtl and in the ```SettingsGroup``` widget .
[Here](https://github.com/GAM3RG33K/flutter_settings_screens/blob/0b566b72e9fd802da7c839ccff1b288145778531/lib/src/widgets/settings_widgets.dart#L402), instead of using ```Alignment.centerLeft```, ```AlignmentDirectional.centerStart``` should be used !

## Screenshot
![image](https://user-images.githubusercontent.com/2095

[2022-09-29 16:18] Juggler98 commented on #102
This is solved in [the most recent commit.](https://github.com/Juggler98/flutter_settings_screens/commit/542ad2a6dee71fbb8216025e46e2eb1d8139d89e)

[2022-09-29 16:19] Juggler98 commented on #68
This is solved in [the most recent commit.](https://github.com/Juggler98/flutter_settings_screens/commit/542ad2a6dee71fbb8216025e46e2eb1d8139d89e)

[2022-10-07 15:24] safvanp opened #105 "DropDownSettingsTile with Larg content string is get size error"
DropDownSettingsTile Failed assertion: line 1210 pos 7: 'tileWidth != trailingSize.width || tileWidth == 0.0': Trailing widget consumes entire tile width.
please fix with auto size

this is what i did actually.
********
class _DropDownSettingsTileNewState<T>
    extends State<DropDownSettingsTileNew<T>> {
  T selectedValue;

  @override
  void initState() {
    super.initState();
    selectedValue

[2022-10-10 08:31] mbfakourii commented on #102
@Juggler98  Could you open a PR for this issue?

[2022-10-10 08:35] Juggler98 commented on #102
Hi, it is already merged.

[2022-10-10 08:37] mbfakourii commented on #102
I see now, thanks

[2022-10-10 08:44] mbfakourii commented on #102
@GAM3RG33K Can you give a release based on the latest changes?

[2022-10-10 08:48] Juggler98 commented on #102
@mbfakourii you can import dependency directly from github.

flutter_settings_screens:
    git:
      url: URL
      ref: COMMIT_ID

[2022-10-27 12:52] s-guizani opened #106 "many and many errors"
vscode shows many errors such as "final Widget? child;" with a red line under "?" ! I deleted them and the red line disappeared.

vscode shows many errors such as "SimpleSettingsTile({required this.title, this.subtitle,..." with a red line under "required this.title,". I deleted the words "required" and the red line disappeared.

A red line under "import 'package:hive/hive.dart';" !

"The named pa

[2022-10-29 23:00] s-guizani commented on #106
It's working now when I upgraded flutter to the newest version

[2022-10-29 23:00] #106 closed

[2022-10-30 17:18] s-guizani commented on #86
Hi, I'm really new to flutter. You did a good job. I have few comments for help :
- your github link takes to flutter_settings_screen instead of flutter_settings_screen_ex
- you don't import flutter_settings_screen_ex anywhere in the code
- The subtitle of the "Sync Settings" SimpleRadioSettingsTile widget, displays always "Daily" even if I choose another value.

Regards

[2022-11-09 21:11] tierecke opened #107 "Feature Request: Range slider..."
Hi - A wonderful feature would be to add a range slider, where a min and a max could be selected.

![image](https://user-images.githubusercontent.com/9803264/200942454-8b452a86-1384-49a0-b8b2-609a29df6523.png)

[2022-11-18 06:19] agersant commented on #90
This scenario is still broken in `flutter_settings_screens 0.3.3-null-safety+2`.

There is one `ValueChangeObserver` at the root of the app, watching for the `cacheKey` corresponding to the user's preferred theme. There is an additional `ValueChangeObserver` for that same key, created in the app's Settings page. When the `ValueChangeObserver` in the settings page gets disposed, the notifier for th

[2022-11-22 14:28] ToH2002 opened #109 "notification bug"
I just created a pull request to fix a bug in notifications: any settings with a settingKey containing uppercase letters weren't automatically updated - bug fixed.

This pull request also contains an optional colors parameter for ColorPickerSettingsTile for users to provide their own selection of color swatches.

Cheers,

Torsten